*{
	margin: 0;
	padding: 0;
}

article{
	width: 600px;
	margin: 10 auto;
	text-align: justify;
	background: rgba(0,0,0,0.3);
	padding: 1em;
	transition: 1s;
}

article:hover{
	transform: scale(1.04);
	cursor: pointer;
}
